body {
  font-family: sans-serif;
  margin: 0;
  background: #f9f9f9;
  color: #333;
}
.header {
  background: #ececec;
  padding: 1em;
  text-align: center;
  border-bottom: 2px solid #aaa;
}
.text-box {
  background: #fff;
  padding: 1em;
  border: 1px solid #ccc;
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 2em;
}